#experience {
  background-color: rgb(125, 125, 125);
  padding-top: 50px;
}

#experience h2 {
  margin-bottom: 30px;
}

.slider {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.slider .btns-slide {
  font-size: 32px;
}

.slider .btns-slide:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.slider .slide-container {
  height: 66vh;
  flex-basis: 80%;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  display: flex;
  align-items: center;
}

/* Slide */

.slide {
  position: absolute;
  top: 0px;
  margin: 10px;
  transition: 1s;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.slide img {
  height: 63vmin;
  width: 50%;
  object-fit: cover;
  align-self: flex-start;
}

.slide .text-cont {
  flex-basis: 45%;
  margin-right: 20px;
  zoom: 80%;
}

.slide .text-cont h3 {
  text-align: center;
  font-size: 35px;
  font-family: 'Titillium Web', sans-serif;
}

.slide .text-cont p {
  text-align: justify;
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
}

/* Dots */

.slider .dots {
  height: 50px;
  width: 20%;
  font-size: 3.5em;
  text-align: center;
  cursor: default;

  flex-basis: 100%;
}

.slider .dots .dot {
  cursor: pointer;
}

.slider .dots .marked {
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

/* Responsiveness */

@media (max-width: 1400px) {
  .slide img {
    width: 95%;
    height: 350px;
  }

  .slide .text-cont {
    flex-basis: 100%;
  }
}

@media (max-width: 800px) {
  .slider {
    width: 100%;
  }
  .slide img {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .slider .slide-container {
    flex-basis: 100%;
  }
  .arrow-btn {
    margin: 20px;
    font-size: 60px;
  }

  .slider .btns-slide {
    order: -1;
  }

  img[alt='front-end'] {
    height: auto;
  }
}

/* Scrollbar */

.slider .slide-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.slider .slide-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255);
  border-radius: 10px;
}

/* Handle */
.slider .slide-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
.slider .slide-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
